body {
  background-color: white;
  color:#1E2B37 ;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  margin-top: 40px;
  padding: 15px;
  border-radius: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: rgb(236, 235, 235);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: green;
  color: white;
  padding: 4px 8px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.button:hover {
  background-color: rgb(9, 99, 9);
  cursor: pointer;
}

.removeButton {
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-size: 14px;
}

.removeButton:hover {
  background-color: rgb(218, 9, 9);
  cursor: pointer;
}

h2 {
  margin-bottom: 0;
}

.toDoItem {
  color: #1E2B37 ;
  padding-left: 10px;
  
}

.completedItem {
  margin-bottom: 10px;
}

.toDoItem:hover {
  color:green
}
.navBar {
  width: 100%;
  padding: 10px;
  background-color: #1E2B37;
  color: white;
  position: fixed; 
  top: -1px;
  left: -1px;
  margin-bottom: 5px;
}

.count {
  text-align: end;
}

input {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.smallCard {
  background-color: rgba(255, 255, 255, 0.568);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
